<%= render 'shared/navbar'%>

<div class="form-container">
  <div class="card" style="width: 35rem;">
    <form>
      <h4 class="form-title" >Change List Name</h4>
      <%= form_for @list do |f| %>
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name %>
      </div>
      <div class="btn btn-primary btn-sm form-button">
        <%= f.submit "Create", class: "btn btn-primary btn-sm" %>
      </div>
      <% end %>
    </form>
  </div>
</div>


<% @list.recipes.each do |recipe| %>
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><%= link_to recipe.name, recipe %></h5>
      <h6 class="card-subtitle mb-2 text-muted">Time: <%= recipe.time %></h6>
      <p class="card-text">Ingredients: <%= recipe.ingredients %></p>
      <%= link_to "Remove from #{@list.name}", list_recipe_url("#{ListRecipe.where(list_id: @list.id, recipe_id: recipe.id).ids[0]}") , method: :delete %>
    </div>
  </div>
<% end %>
