<%= render 'shared/navbar'%>

<div class="form-container">
  <div class="card" style="width: 35rem;">
    <%= form_for @list, :html => {:class => "form-horizontal center"} do |f| %>
      <h4 class="form-title" >Create List</h4>
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name %>
      </div>
        <%= f.submit "Create", class: "btn btn-primary form-button" %>
    <% end %>
  </div>
</div>
