<%= render 'shared/navbar'%>
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4"><%= @recipe.name %></h1>
    <h4>Time: <%= @recipe.time %></h4>
    <% if @user.admin == true %>
       <%= link_to "Edit Recipe", edit_recipe_path, :class => "btn btn-primary btn-sm" %>
       <%= link_to "Delete Recipe", @recipe, method: :delete, :class => "btn btn-primary btn-sm" %>
    <% end %>
    <%= form_tag "/list_recipes" do |f| %>
      <%= hidden_field_tag :recipe_id, @recipe.id %>
      <%= collection_select :list, :list_id, List.where(user_id: session[:user_id]), :id, :name %>
      <%= submit_tag :'Add Recipe to List', class: "btn btn-primary btn-sm" %>
    <% end %>
  </div>
</div>
<div class ="recipe-container">
<div class="card" style="width: 18rem;">
  <div class="card-header">
    Ingredients
  </div>
  <ul class="list-group list-group-flush">
    <% @recipe.ingredients.split(",").each do |ingredient| %>
      <li class="list-group-item"><%= ingredient %></li>
    <% end %>
  </ul>
</div>
<div class="card">
  <h5 class="card-header">Steps</h5>
  <div class="card-body">
    <ul>
      <% @recipe.recipe.split(",").each do |recipe| %>
        <li><%= recipe %></li>
      <% end %>
    </ul>
  </div>
</div>

</div>
