<%= render 'shared/navbar'%>
<div class="form-container">
  <div class="card" style="width: 35rem;">
    <%= form_for @user, :html => {:class => "form-horizontal center"} do |f| %>
      <h4 class="form-title" >Change Username and Password</h4>
      <div class="form-group">
        <%= f.label :username %>
        <%= f.text_field :username %>
      </div>
      <div class="form-group">
        <%= f.label :password %>
        <%= f.text_field :password %>
      </div>
        <%= f.submit "Update", class: "btn btn-primary form-button" %>
    <% end %>
  </div>
</div>
