<h1> Profile for: </h1>

<%= @user.username %>
<ul>
<% @user.recipes.each do |recipe| %>
    <li><%= link_to recipe.name, recipe %></li>
<% end %>
</ul>

<%= link_to "Edit User", edit_user_path %>
<%= link_to "Find New Recipes", recipes_path %>
<%= link_to "Logout", '/logout' %>
